* {
    margin: 0;
    padding: 0;
}

/* header style section */
.header-parents-section {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-parents-section img {
    height: 665px;
    width: 1370px
}

.header-child-section {
    position: absolute;
    margin-top: -510px;
    margin-left: 700px;
    margin-right: 60px;
    text-align: right;
    height: 400px;
    width: 500px;

}

.header-child-h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;

}

.header-child-p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: -20px;

}

.header-button {
    height: 50px;
    width: 133px;
    padding: 15px 10;
    font-size: 17px;
    background-color: rgba(255, 102, 0, 0.822);
    border: none;
    border-radius: 5px;
    color: white;

}

/* main section style */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section-img-div {
    width: 50%;
    margin-top: 100px;
    margin-left: 200px;
}

.main-section-img-div img {
    height: 600px;
    background-color: rgba(255, 20, 145, 0.212);
    border-radius: 100%;

}

.main-section-heading-div {
    width: 340px;
    margin-right: 300px;
    margin-top: 190px;

}

.main-section-heading {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;

}

.main-section-paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.main-section-ol li {
    list-style: none;

}

span {
    color: rgb(0, 255, 200);
    font-size: 30px;
}